.accordion-sml {
    .card .card-header {
        background-color: #161d31 !important;
        color: #fff !important;
    }

    .collapse-icon {
        filter: brightness(0) invert(1) !important;
    }
}